 <div class="control-group">
  <label class="control-label" for="first_name">Customer Name</label>
  <div class="controls">
    <%= f.text_field :customer_name, :class => "span9 required", :placeholder => "Customer" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Customer Organisation</label>
  <div class="controls">
    <%= f.text_field :customer_org, :class => "span9 required", :placeholder => "Contact Organisation" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Country</label>
  <div class="controls">
    <%= f.country_select(:customer_country,{:prompt => true}, {:class => "span9"}) %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Province</label>
  <div class="controls">
    <%= render('subregion_select', :parent_region => @customer == nil ? "" : @customer[:customer_country])%>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">City</label>
  <div class="controls">
    <%= f.text_field :customer_city, :class => "span9", :placeholder => "e.g Johannesburg" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Postal Code</label>
  <div class="controls">
    <%= f.text_field :customer_postal, :class => "span9", :placeholder => "2000" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Street 1</label>
  <div class="controls">
    <%= f.text_field :street1, :class => "span9", :placeholder => "Street 1" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Street 2</label>
  <div class="controls">
    <%= f.text_field :street2, :class => "span9", :placeholder => "Street 2" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Street 3</label>
  <div class="controls">
    <%= f.text_field :street3, :class => "span9", :placeholder => "Street 3" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Tel Numbers</label>
  <div class="controls">
    <%= f.text_field :customer_tel, :class => "span9", :placeholder => "e.g +27.831234567" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Fax</label>
  <div class="controls">
    <%= f.text_field :customer_fax, :class => "span9", :placeholder => "e.g +27.831234567" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
    <%= f.text_field :customer_email, :class => "span9 required", :placeholder => "e.g example@example.co.za" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="first_name">Password</label>
  <div class="controls">
    <%= f.password_field :customer_pass, :class => "span9 required", :placeholder => "Password" %>
  </div>
</div>
